*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #d9f2d9;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

header{
	height: 70px;
	width: 100%;
	line-height: 100px;
	text-align: center;
	font-family: Arial;
	color: #000000;	
	font-size: 30px;
    display:block;
    margin:auto;
}

.row a{
	color: black;
}

table{
	margin-top: 50px;
	caption-side: bottom;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

th{
	background-color: #277227;
	color: white;
	text-align: center;
}

td, th {
	border: 3px solid black;
	padding-left:  5.3px;
	padding-right: 5.3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer{
	width: 70.3%;
	max-width:1000px;
	margin: auto;
	line-height: 40px;
	text-align: center;
	background: #277227;
	border: 0px solid black;
	color: white;
	border-radius: 0px;
	font-family: sans-serif;
	font-size: 20px;
}

footer a{
	color: white;
}